@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: "Italiana";
}


nav{
    background-color: #E1DDD2;
    font-family: "Italiana";
    font-size: 150%;
}

.nav-link {
    color: #4A473E;
}

.logo{
    width: 20%;
    height: auto;
}

.active {
    font-weight: bolder;
    text-decoration: underline;
}

.res {
    color: black;
    font-weight: 800;
    margin-top: 25%;
}
.jumbotron {
    background-image: url("../Img/Jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    color: #4B4737;
}

.display-5 {
    font-size: 150px;
} 

.subtitle {
    font-size: 20px;
    font-weight: 800;
}

.card{
    width: 50%;
}

.img-left{
    height: 50%;
    width: auto;
}

.img-right{
 height: 10%;
 width: auto;
}

footer{
    background-color:#E1DDD2 ;
    position: absolute;
    bottom:-800px;
}

hr {
    position: relative;
    top: 20px;
    border: none;
    height: 3px;
    background: #000000;
    margin-bottom: 50px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.contact{
    font-weight: 900;
    font-size: 40px;
}
.adresse{
    font-size: x-large;
}
h1{
    padding-top: 7%;
}

.horaire{
    font-weight: 900;
}

iframe{
    padding-bottom: 3%;
}

.formu{
    padding-top: 3%;
    margin-right: 0 !important;
}

.form-label{
    border-radius: 5%;
}
sub {
    padding-left:25px;
    color:red;
}
#menu{
    font-size: 50px;
    padding-top: 5%;
    font-weight: 900;
}
  .pizzamenu{
    font-weight:bolder;
  }
  .pag_img{
    max-width: 300px;

  }
@media  screen and (max-width:600px) {
    .display-5{
        font-size: 50px;
        font-weight: bolder;
    }

}